.company-cont {
    height: 100vh;
}

.company-strip {
    height: 70vh;
    width: 90%;
    border-left: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-bottom-left-radius: 66px;
    margin-right: calc(85vh - 10px);
}

.company-strip1 {
    height: calc(30vh + 10px);
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    width: 90%;
    margin-left: 5%;
    margin-top: -10px;
    border-top-right-radius: 66px;
    position: relative;
}

/* .company-link {
    position: absolute;
    top: 150px;
    left: 50px;
} */

/* Mobile View */
.small-company-strip {
    border-left: 10px solid #fff;
    margin-left: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}