.contact-cont {
    height: 100vh;
}

.contact-strip {
    border-left: 10px solid #c5c5c5;
    border-bottom: 10px solid #c5c5c5;
    border-bottom-left-radius: 66px;
    /* height: 90vh; */
    width: 100%;
    /* padding-top: 75px; */
    display: flex;
    justify-content: center;
}

.contact-text {
    font-size: 25px;
    font-weight: bolder;
}

.white-text {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.contact-box {
    padding: 7vh;
    display: flex;
}

.contact-left-side {
    display: inline-block;
    width: 500px;
    padding: 50px;
    /* border: 1px solid black; */
    border: #fff !important;
    border-radius: 50px;
    /* background-image: url('/public/assets/images/bldg.png'); */
    /* background: linear-gradient(to left, #ffaf7b 0%, #d76d77 50%, #3a1c71 100%); */
    background: linear-gradient(to left, #44ffd3 0%, #1ca8f4 50%, #034078 100%);
    
}

.contact-right-side {
    display: inline-block;
    width: 650px;
    padding: 50px;
}

div strong {
    color: #034078;
    font-size: 18px;
}

.contact-img {
    width: 100%;
    height: auto;
}

.footer-cont {
    padding-top: 5vh;

}

.footer-logo {
    text-align: center;
    padding-bottom: 20px;
}

.footer1 {
    /* letter-spacing: 5px; */
    text-align: center;
    font-weight: bolder;
}

/* Mobile View */
.small-contact-strip {
    border-left: 10px solid #c5c5c5;
    margin-left: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.contact-small-side {
    padding: 50px;
    border: 1px solid black;
    border-radius: 50px;
}

.contact-small-side1 {
    padding: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media only screen and (max-width: 1440px) {


    .contact-text {
        font-size: 18px;
    }

    .contact-left-side {
        display: inline-block;
        width: 400px;
        padding: 50px;
        border: 1px solid black;
        border-radius: 50px;
    }

    .contact-right-side {
        display: inline-block;
        width: 550px;
        padding: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

@media only screen and (max-width: 1200px) {


    .contact-text {
        font-size: 18px;
    }

    .contact-left-side {
        display: inline-block;
        width: 350px;
        padding: 50px;
        border: 1px solid black;
        border-radius: 50px;
    }

    .contact-right-side {
        display: inline-block;
        width: 450px;
        padding: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}