/*Landing*/
.landing-cont {
    position: relative;
    height: 100vh;
    /* background-color: #034078; */
    background-color: #002147;
}

.under-image {
    position: relative;
    z-index: 1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.over-text {
    position: absolute;
    top: 150px;
    left: 7%;
    z-index: 2;
    width: 40%;

}

.over-text1 {
    position: absolute;
    top: 550px;
    left: 7%;
    z-index: 2;
    width: 40%;

}

.text1 {
    font-size: 50px;
    font-weight: bolder;
    line-height: 1.2;
    /* color: #1ba1f3; */
    color: white;
    text-shadow: 2px 2px 2px black;
}

.text2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    /* color: #1ba1f3; */
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* .over-div {
    position: absolute;
    display: flex;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    width: 40vw;
    height: 220px;
    border-top-left-radius: 66px;
    border-left: 10px solid #c5c5c5;;
    border-top: 10px solid #c5c5c5;;
} */

/* Default styles for larger screens */
/* .bg1 {
    border-top-left-radius: 55px;
    background-color: #034078;
    padding: 3em 5em;
    width: 100%;
    height: calc(220px - 10px);
    color: white;
}

.bg2 {
    border-top-left-radius: 55px;
    background-color: #2B4F33;
    padding: 3em 5em;
    width: 100%;
    height: calc(220px - 10px);
    color: white;

}

.bg3 {
    border-top-left-radius: 55px;
    background-color: #60079C;
    padding: 3em 5em;
    width: 100%;
    height: calc(220px - 10px);
    color: white;

}

.bg4 {
    border-top-left-radius: 55px;
    background-color: #432818;
    padding: 3em 5em;
    width: 100%;
    height: calc(220px - 10px);
    color: white;

}

.custom-indicators .carousel-indicators li {
    background-color: #000000;
}

.carousel-control-prev {
    color: #000000 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    color: #000000;

} */

@media only screen and (max-width: 1440px) {
    .text1 {
        font-size: 50px;
        font-weight: bold;
        line-height: 1.2;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .text2 {
        font-size: 25px;
        font-weight: bold;
        padding-top: 10px;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .over-text {
        position: absolute;
        top: 120px;
        left: 100px;
        z-index: 2;
        width: 45%;
    }

    .over-text1 {
        position: absolute;
        top: 500px;
        left: 100px;
        z-index: 2;
        width: 40%;
    }

    /* .over-text1 {

    } */

    /* .over-div {
        position: absolute;
        display: flex;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        width: 50vw;
        height: 220px;
        border-top-left-radius: 66px;
        border-left: 10px solid #fff;
        border-top: 10px solid #fff;
        border-bottom: 10px solid #fff;
    } */


}

@media only screen and (max-width: 1200px) {
    .landing-cont {
        position: relative;
        height: 100svh;
        margin-left: -20px;
    }

    .text1 {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.2;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .text2 {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .over-text {
        position: absolute;
        top: 150px;
        left: 100px;
        z-index: 2;
        width: 40%;
    }

    .over-text1 {
        position: absolute;
        top: 480px;
        left: 100px;
        z-index: 2;
        width: 40%;
    }

    /* .over-div {
        position: absolute;
        display: flex;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        width: 700px;
        height: 220px;
        border-top-left-radius: 66px;
        border-left: 10px solid #fff;
        border-top: 10px solid #fff;
        border-bottom: 10px solid #fff;
    }

    .img-div {
        height: 120px;
        width: auto;
    } */

}

@media only screen and (max-width: 998px) {
    /* .over-div {
        position: absolute;
        display: flex;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        width: 450px;
        height: 220px;
        border-top-left-radius: 66px;
        border-left: 10px solid #fff;
        border-top: 10px solid #fff;
        border-bottom: 10px solid #fff;
    } */


    .over-text {
        position: absolute;
        top: 80px;
        left: 70px;
        z-index: 2;
        width: 45%;
    }

    .over-text1 {
        position: absolute;
        top: 400px;
        left: 70px;
        z-index: 2;
        width: 45%;
    }

    .text1 {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.2;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .text2 {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

}

@media only screen and (max-width: 768px) {
    .landing-cont {
        position: relative;
        height: 100svh;
        margin-left: -20px;
    }

    .text1 {
        font-size: 35px;
        font-weight: bold;
        line-height: 1.2;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .text2 {
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .over-text {
        position: absolute;
        top: 60px;
        left: 70px;
        z-index: 2;
        width: 45%;
    }

    .over-text1 {
        position: absolute;
        top: 370px;
        left: 70px;
        z-index: 2;
        width: 45%;
    }

    /* .over-div {
        position: absolute;
        display: flex;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        width: 95vw;
        height: 180px;
        border-top-left-radius: 66px;
        border-left: 10px solid #fff;
        border-top: 10px solid #fff;
        border-bottom: 10px solid #fff;
        border-bottom-left-radius: 66px;
    }

    .bg1 {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: #034078;
        width: 100%;
        height: 161px;
        color: white;
    }

    .bg2 {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: #2B4F33;
        width: 100%;
        height: 161px;
        color: white;
    }

    .bg3 {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: #60079C;
        width: 100%;
        height: 161px;
        color: white;
    }

    .bg4 {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: #432818;
        width: 100%;
        height: 161px;
        color: white;
    } */

}

@media only screen and (max-width: 568px) {
    .landing-cont {
        position: relative;
        height: 100svh;
        margin-left: -20px;
    }

    .text1 {
        font-size: 35px;
        font-weight: bold;
        line-height: 1.2;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .text2 {
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
        color: #ffffff;
        text-shadow: 1px 1px 2px #c5c5c5;
        ;
    }

    .over-text {
        position: absolute;
        top: 70px;
        left: 70px;
        z-index: 2;
        width: 80%;
    }

    .over-text1 {
        position: absolute;
        top: 350px;
        left: 70px;
        z-index: 2;
        width: 80%;
    }

    .landing-cont {
        height: 500px;
        background-color: #002147;

    }

    .min-height {
        height: 100%;
    }


    /* .over-div {
        position: absolute;
        display: flex;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        width: calc(100vw - 70px);
        height: 250px;
        border-top-left-radius: 66px;
        border-bottom-left-radius: 66px;
        border-left: 10px solid #fff;
        border-top: 10px solid #fff;
        border-bottom: 10px solid #fff;
    }

    .bg1 {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: #034078;
        width: 100%;
        height: calc(250px - 20px);
        color: white;
    }

    .bg2 {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: #2B4F33;
        width: 100%;
        height: calc(250px - 20px);
        color: white;
    }

    .bg3 {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: #60079C;
        width: 100%;
        height: calc(250px - 20px);
        color: white;
    }

    .bg4 {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: #432818;
        width: 100%;
        height: calc(250px - 20px);
        color: white;
    } */
}