.team-cont {
    height: 100vh;
}

.team-strip {
    border-right: 10px solid #c5c5c5;
    border-bottom: 10px solid #c5c5c5;
    border-bottom-right-radius: 66px;
    width: 90%;
    height: 10vh;
    margin-left: 5%;
}

.team-strip1 {
    border-left: 10px solid #c5c5c5;
    border-top: 10px solid #c5c5c5;
    width: 85%;
    margin-top: -10px;
    border-top-left-radius: 66px;
    position: relative;
    height: calc(90vh + 10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-text {
    padding-left: 50px;
    width: 20vw;
    padding-top: 50px;
    margin-right: 10vw
}

.team-text1 {
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.carousel-cont {
    width: 50vw;
    height: auto;
    /* position: absolute;
    right: 0;
    bottom: 160px; */
}

.carousel-img {
    border-top-left-radius: 150px;
    width: auto;
    height: 100%;
}

.CCarouselItem {
    transition-duration: 1s !important;
}


@media only screen and (max-width: 1440px){
    .team-text {
        padding-left: 50px;
        width: 30vw;
        margin-right: 0px;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .team-text {
        padding-left: 50px;
        width: 30vw;
        margin-right: 0px;
        padding-top: 50px;
    }

    .team-text1 {
        padding-top: 30px;
        font-size: 25px;
        font-weight: bold;
    }

    /* .carousel-cont {
        border-top-left-radius: 66px;
        width: 450px;
        height: 300px;
        position: absolute;
        right: 0;
        bottom: 200px;
    } */

    .carousel-img {
        border-top-left-radius: 200px;
        width: auto;
        height: auto;
    }

}

/* Mobile View */
.small-team-strip {
    border-left: 10px solid #c5c5c5;
    margin-left: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.carousel-cont-small {
    width: 100%;
    height: auto;
}