.technology-strip{
    padding-bottom: 150px;
    border-right: 10px solid #c5c5c5;
    width: 90%;
    height: 100vh;
    margin-left: 5%;
    margin-top: -10px;
    position: relative;
}


.container-blue {
    display: flex;
    background-color: #22dbf6;
    /* position: absolute;
    bottom: 0; */
    margin-left: -135px;
    /* width: calc(90vw + 4px); */
}

.tech-img{
    width: auto;
    height: 400px;
}

.text-1{
    padding: 30px 100px 0 50px;
    font-size: 20px;
}

.text-2 {
    padding: 20px;
}




@media only screen and (max-width: 1440px) {
    .tech-img{
        position: absolute;
        bottom: 0;
        width: 60%;
        height: auto;
    }

    .text-2 {
        position: absolute;
        width: 500px;
        bottom: 50px;
        right: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .tech-img{
        position: absolute;
        bottom: 0;
        width: 60%;
        height: auto;
    }

    .text-2 {
        position: absolute;
        width: 420px;
        bottom: 0;
        right: 10px;
    }
}

/* Mobile View */
.small-technology-strip {
    border-left: 10px solid #c5c5c5;
    margin-left: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.text-1-small{
    padding: 30px 0 0 0;
    font-size: 20px;
}

