.transform {
    transform: translateY(70px);
}

.work-cont {
    position: relative;
    height: 100vh;
}

.worktext {
    font-size: 20px;
    padding-bottom: 10px;
}

.worklist-cont {
    background: linear-gradient(to left, #44ffd3 0%, #1ca8f4 50%, #034078 100%);
    padding: 30px;
    border-radius: 50px;
    border: #fff !important;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.worklist {
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.arrow {
    height: 30px;
    width: auto;
    padding-right: 15px;
}

.work-spacing {
    margin-top: 3vh;
}

.work-strip {
    height: 20vh;
    padding-right: 16px;
    margin-left: 60px;
    margin-right: calc(40vw - 9.5px);
    border-right: 10px solid #c5c5c5;
    border-bottom: 10px solid #c5c5c5;
    border-bottom-right-radius: 66px;
    position: relative;
}

.work-strip1 {
    max-width: calc(60vw - 225px + 10px);
    padding-right: 16px;
    padding-left: 50px;
    height: calc(80vh + 10px);
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    border-top: 10px solid #c5c5c5;
    border-left: 10px solid #c5c5c5;
    border-top-left-radius: 66px;
}

.worktexts-cont {
    width: 60vh;
}

.globe {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(45vw - 10px);
    height: calc(100vh + 100px);
}

.align-bot {
    position: absolute;
    bottom: 0;
    left: 0;
}


@media only screen and (max-width: 1440px) {
    .work-strip {
        height: 20vh;
        padding-right: 16px;
        margin-left: 100px;
        margin-right: calc(40vw - 9.5px);
        flex: content;
        border-right: 10px solid #c5c5c5;
        border-bottom: 10px solid #c5c5c5;
        border-bottom-right-radius: 66px;
        position: relative;
    }

    .work-strip1 {
        max-width: calc(60vw - 225px + 10px);
        padding-right: 16px;
        padding-left: 50px;
        height: calc(80vh + 10px);
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        border-top: 10px solid #c5c5c5;
        border-left: 10px solid #c5c5c5;
        border-top-left-radius: 66px;
    }

    .margin-top {
        margin-top: 30px;
    }

}

@media only screen and (max-width: 1200px) {


    .worktexts-cont {
        width: 70vh;
    }

    .globe {
        position: absolute;
        right: 0;
        top: 0;
        width: calc(30vw - 10px);
        height: calc(100vh + 100px);
    }

    .worktext {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .margin-top {
        margin-top: 20px;
    }


}

/* phone view css */
.small-work-strip {
    border-left: 10px solid #c5c5c5;
    ;
    margin-left: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
