@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


/*Navigation  & Global CSS*/
* {
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, Roboto, Helvetica Neue, sans-serif;
    /* font-family: sans-serif; */
    /* font-family: Helvetica, Arial, sans-serif; */
    /* font-family: "Montserrat, sans-serif"; */
}

.cont {
    display: flex;
    width: 100vw;
    background-color: #002147;
    position: fixed;
    z-index: 1000;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70px;
}

.scrolled .cont {
    background-color: #000000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-cont {
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;

}

.nav {
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    /* writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: center;
    white-space: nowrap; */
    /* font-weight: bold; */
}

.nav-cont .nav:hover {
    color: #22dbf6;
}

.min-height {
    height: 100vh;
    background-color: #ffffff;
}

.small-screen-cont {
    background-color: #ffffff;
}

.p-left {
    padding-left: 100px;
}

.title {
    font-size: 40px;
    /* letter-spacing: 10px; */
    color: #034078;
    font-weight: bolder;
}

.arrow-nav {
    background-color: #30e489;
    padding: 10px;
    border-radius: 30px;
}

/* Collapsible Sidenav */
.right-nav {
    position: relative;
}

.collapsible {
    /* width: 600px; */
    position: fixed;
    right: 0;
    /* bottom: 0; */
    z-index: 2000;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
}

.collapsible-header {
    cursor: pointer;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    align-items: center;
    display: block;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 25px;
    transition: transform 1s ease;
}

.collapsible-content {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-bottom-left-radius: 25px;
}

.img-link {
    display: block;
}

.link-description {
    color: white;
    transform: translateY(-25px);
    text-shadow: 1px 1px 2px black;
}

.collapsible:hover .collapsible-content {
    display: block;
}

.collapsible:hover .collapsible-header {
    background-color: rgba(0, 0, 0, 0.7);

}

.collapsible:hover .arrow-img {
    transition: transform 0.3s ease;

    transform: rotate(180deg);
}