/*Navigation  & Global CSS*/
.cont {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
}

.nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    padding: 10px 0px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: center;
    white-space: nowrap;
}


.min-height {
    height: 100vh;
    margin-left: 20px;
    /* margin-right: 20px; */
    overflow: visible;
    background-color: #F2F2F2;
}

.small-screen-cont {
    background-color: #F2F2F2;
}

.box-cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* overflow-x: hidden; */
}


.p-left {
    padding-left: 100px;
}

.title {
    font-size: 20px;
    letter-spacing: 10px;
}

* {
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, Roboto, Helvetica Neue, sans-serif;
}

.arrow-nav {
    height: 100px;
    width: auto;
}


/* Collapsible Sidenav */
.right-nav {
    position: relative;
}

.collapsible {
    /* width: 600px; */
    position: fixed;
    right: 0;
    z-index: 2000;
    display: flex;
    justify-content: flex-end;
}

.collapsible-header {
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    display: block;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 25px;
    transition: transform 1s ease;
}

.collapsible-content {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-bottom-left-radius: 25px;
}

.img-link {
    display: block;
}

.link-description {
    color: white;
    transform: translateY(-25px);
    text-shadow: 1px 1px 2px black;
}

.collapsible:hover .collapsible-content {
    display: block;
}

.collapsible:hover .arrow-img {
    transition: transform 0.3s ease;

    transform: rotate(180deg);
}